*{
    margin:0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; margin-top: 40px; }
.attribution a { color: hsl(335, 100%, 65%); }

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: hsl(229, 57%, 11%);
    color: hsl(243, 100%, 93%);
}
.bg{
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 42.2vh;
    width: 135.9em;
}
.background-desktop{
    width:100%;
    z-index: -1;
}
.img-mobile{
    display: none;
}
@media(max-width:680px){
    body{
        background-color:transparent;
    }
    .background-desktop{
        display: none;
    }
    .img-mobile{
        display: inherit;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
    .bg{
        top: 0;
        width: auto;
        left: 0;
    }
}
/*------CONTENIDO-------*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 800px;
    margin-top: 30vh;
}
@media(max-width:680px){
    .main-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 680px;
    }
}
/*-----ICONS-----*/
.container-icons{
    height: 100px;
    width: 25%;
    background-color: hsl(228, 56%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 8px 90px 8px 8px;
}
.logo{
    width: 40%;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    align-items: center;
}
.icon-bg{
    background-color: hsl(229, 57%, 11%);
    padding: 6px;
    margin-right: 15px;
    width: auto;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:680px){
    .container-icons{
        width: 250px;
        margin-bottom: 20px;
    }
    .logo{
        width: 40%;
    }
}
/*-----GIGABYTES-----*/
.container-gb{
    background-color: hsl(228, 56%, 26%);
    width: 85%;
    padding: 30px;
    height: 60px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-gb{
    display: flex;
}
.info-gb span{
    font-weight: 700;
}
.letrero-container{
    position: absolute;
    margin-left: 18.5%;
    top: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.letrero-gb{
    width: 150px;
    height: 60px;
    background-color:white;
    border-radius: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letrero-gb span{
    font-size: 2rem;
    margin-right: 10px;
    color: hsl(229, 57%, 11%);
}
.letrero-gb p{
    color: hsl(229, 7%, 55%);
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 700;
}
.pico{
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent; 
}
.barra-container{
    width:99%;
    height: 15px;
    margin: 20px 0px 10px 5px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 12px;
    border:2px solid hsl(229, 57%, 11%);
    display: flex;
}
@media(max-width:680px){
    .pico{
        display: none;
    }
    .letrero-gb{
        border-radius: 10px;
    }
    .letrero-container{
        margin-left: 7%;
        top: 30.5rem;
    }
    .container-gb{
        height: 90px;
        justify-content: flex-start;
    }
}
.barra{
    height: 15px;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.barra-front{
    background: linear-gradient(to right,  hsl(6, 100%, 80%), hsl(335, 100%, 65%));;
    width: 100%;
    height: 15px;
    border-radius: 10px;
}
.circulo{
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-right: 2px;
}
.datos{
    display: flex;
    justify-content: space-between;
}
@media(max-width:680px){
    .container-gb{
        width: 250px;
        border-radius: 8px;
        margin-left: 0;
    }
    
}